<h4>Posts We Have:</h4>
<br>
<% @all_posts.each do |post|%>
  <p>
    <%= post["content"] %>
    <br>
    Created at: 
    <i><%= post["created_date"] %></i>
    <br>
    <a href="/post/<%= post["id"] %>">Comments</a>
  </p>
  <hr>
<%end%>
