<h4>Create New Post</h4>
<form action="/new_post" method="post" role="form">
  <label for="author">Author:</label>
  <input type="text" name="author" class="form-control" placeholder="Type your name..." value="<%= @author %>"><br>
  <textarea name="post" class="form-control" rows="6" placeholder="Type text here..."><%= @post %></textarea>
  <br>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
