<h4>Post</h4>
<p>
  <%= @post["content"] %>
  <br>
  <br>
  Created at: 
  <i><%= @post["created_date"] %></i>
  <br>
</p>
<br>
<form action="/post/<%= @post["id"] %>" method="post" role="form">
  <textarea name="comment" class="form-control" rows="6" placeholder="Type text here..."></textarea>
  <br>
  <button type="submit" class="btn btn-primary btn-lg">Submit Comment</button>
</form>
